<div id='content'>
  <h1>Team Pixtory</h1>

  <div id='team-image'>
    <img alt="An image of the super-neato Pixtory team." src="<%= asset_path 'team.jpg' %>" />
    <div class='shadow'></div>
  </div>

  <p>
    Pixtory was created out of <a href='http://govhack.org.au/'>GovHack 2013</a>
    by a team of six history and tech enthusiasts.
  </p>

  <p>
    All content on the site is used and republished under Creative Commons licenses
    and the code for Pixtory itself is available under an open source license
    <a href="https://github.com/Sutto/pixtory">on GitHub</a>.
  </p>

  <h2>Team Members</h2>

  <dl>
    <dt>Andyy Hope</dt>
    <dd>iOS Developer &amp; Designer.<br /><a href="https://twitter.com/AndyyHope" class="twitter-follow-button" data-show-count="false">@AndyyHope</a></dd>
    <dt>Darcy Laycock</dt>
    <dd>Web &amp; API Developer.<br /><a href="https://twitter.com/Sutto" class="twitter-follow-button" data-show-count="false">@Sutto</a></dd>
    <dt>Dave Adams</dt>
    <dd>Project Manager.<br /><a href="https://twitter.com/solutionsmith" class="twitter-follow-button" data-show-count="false">@solutionsmith</a></dd>
    <dt>Dave Newman</dt>
    <dd>Information Architect.<br /><a href="https://twitter.com/DaveJamesNewman" class="twitter-follow-button" data-show-count="false">@davejamesnewman</a></dd>
    <dt>Jo Hawkins</dt>
    <dd>Historian.<br /><a href="https://twitter.com/history_punk" class="twitter-follow-button" data-show-count="false">@history_punk</a></dd>
    <dt>Matt Didcoe</dt>
    <dd>Web &amp; API Developer.<br /><a href="https://twitter.com/mattman" class="twitter-follow-button" data-show-count="false">@mattman</a></dd>
  </dl>


  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>