<div id='welcome'>
  <p id='introduction'>
    Welcome to Pixtory! Choose where you want to start
    below and we'll find the most relevant moments.
  </p>

  <div id='exploration-choices'>
    <a href='#'>Moments around me</a>
    <span class='or'>- or -</span>
    <a href='#'>Most recent moments</a>
  </div>
</div>

